.after-manual-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.after-manual-item {
    width: 263px;
    height: 263px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(72, 79, 96, 0.31);
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 30px;
}
.after-manual-item:not(:nth-of-type(3n)) {
    margin-right: 57px;
}
.after-slick-item .after-manual-item {
    margin-right: 0;
}
.after-manual-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 217px;
    border-bottom: 1px solid #ebedef;
}
.after-manual-title {
    color: #ff9737;
    text-transform: uppercase;
    height: 45px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 263px;
}
.content-body{
    padding-left: 33px;
    padding-right: 18px;
}
.searched-manuals{
    background-color: white;
    padding: 33px;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(72,79,96,0.04);
}
.after-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.warranty table{
    border: 1px solid #eeebe9;
}
.warranty table td, .warranty table th{
    border: 1px solid #eeebe9;
    padding-left: 15px;
}
.warranty table td{
    font-size: 15px;
    color: rgb(127,127,127);
}
.warranty table th{
    font-weight: bold;
    font-size: 14px;
    color: rgb(37,40,40);
}
.accept-btn, .decline-btn{
    border-radius: 3px;
    border: 1px solid #35b72f;
    color: #35b72f;
    padding: 5px 12px;
}
.accept-btn:focus, .decline-btn:focus{
    background-color: white;
}
.decline-btn{
    border-color: rgb(255,82,82);;
    color: rgb(255,82,82);
}
.accepted{
    color: #35b72f;
}
.declined{
    color: rgb(255,82,82);
}
.view-details{
    color: rgb(202,199,196);
    float: right;
    margin-right: 15px;
}
.warranty{
    padding: 25px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(72,79,96,0.04);
}
.warranty .orange-row td{
    color: #ff9737;
}