@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

.w-100 {
  width: 100%;
}

.custom-container {
  display: flex;
}

.navbar-col {
  min-width: 260px;
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ff9837;
  color: #ffffff;
  justify-content: space-between;
}

.navbar-header {
  border-bottom: 1px solid #ffffff;
}
.no-margin {
  margin: 0;
}

.navbar-logo {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-header__username {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-body-menu li {
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid transparent;
  margin: 10px 0;
}

.navbar-body-menu a {
  color: #ffffff;
}

.navbar-body-menu .img-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.navbar-body-menu li:hover {
  border-left: 2px solid #ffffff;
}


.content-col {
  display: flex;
  background-color: #f7f9fa;
  width: 100%;
  margin-left: 260px;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px 31px 33px;
}

.content-header h4 {
  margin: 0;
}

.content-header-nav {
  color: #bebebe;
  font-size: 14px;
}

.content-header-name,
.content-header-info {
  display: inline-block;
}

.content-header-info .img-wrapper {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.content-header-info {
  color: #bebebe;
}
