@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');

.w-100 {
  width: 100%;
}

.custom-container {
  display: flex;
}

.navbar-col {
  min-width: 260px;
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ff9837;
  color: #ffffff;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 25px;
}

.navbar-header {
  /*border-bottom: 1px solid #ffffff;*/
}
.navbar-body{
  padding-top: 32px;
  padding-left: 17px;
}
.no-margin {
  margin: 0;
}

.navbar-logo {
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-header__username {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.navbar-body-menu li {
  padding: 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  border: 2px solid transparent;
  /*margin: 10px 0;*/
  margin-bottom: 36px;
}

.navbar-body-menu a {
  color: rgb(250,239,228);
}

.navbar-body-menu .img-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.navbar-body-menu li:hover {
  border-left: 2px solid #ffffff;
}


.content-col {
  display: flex;
  background-color: #f7f9fa;
  width: 100%;
  margin-left: 260px;
  min-height: 100%;
}

.content-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px 31px 33px;
}

.content-header h4 {
  margin: 0;
}

.content-header-nav {
  color: #bebebe;
  font-size: 14px;
}

.content-header-name,
.content-header-info {
  display: inline-block;
}

.content-header-info .img-wrapper {
  display: inline-block;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.content-header-info {
  color: #bebebe;
}
.navbar-header__avatar{
 margin-top: 29px;
  margin-bottom: 17px;
}
.navbar-header__avatar img{
  width:71px;
}
.navbar-menu-item a{
  position: relative;
  padding-left: 29px;
}
.navbar-menu-item a:before{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top:0;
  left:0;
  background: url("../img/icons-sprites.png") no-repeat;
}
.navbar-item-home a:before{
  background-position:  -11px -50px;
}
.navbar-item-man a:before{
  background-position:  -89px -46px;
}
.navbar-item-his a:before{
  background-position:  -54px -8px;
}
.navbar-item-war a:before{
  background-position:  -47px -48px;
}
.navbar-item-prod a:before{
  background-position:  -10px -9px;
}
.navbar-footer{
  color: rgb(250,239,228);
  padding-left: 30px;
  position: relative;
  margin-left: 27px;
}
.navbar-footer:before{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top:0;
  left:0;
  background: url("../img/icons-sprites.png") -7px -85px no-repeat;
}
