.after-manual-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.after-manual-items:after {
    content: "";
    flex: auto;
}

.after-manual-item {
    width: 32%;
    height: 263px;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(72, 79, 96, 0.31);
    background-color: #ffffff;
    display: inline-block;
    margin-bottom: 30px;
}
.after-manual-item:nth-child(3n-1){
    margin-left: 2%;
    margin-right: 2%;
}
.after-manual-item:not(:nth-of-type(3n)) {
    /*margin-right: 57px;*/
}
.after-slick-item .after-manual-item {
    margin-right: 0;
}
.after-manual-img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 217px;
    border-bottom: 1px solid #ebedef;
}
.after-manual-title {
    color: #ff9737;
    text-transform: uppercase;
    height: 45px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    width: 263px;
}
.content-body{
    padding-left: 33px;
    padding-right: 18px;
}
.searched-manuals{
    background-color: white;
    padding: 33px;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(72,79,96,0.04);
}
.after-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.warranty table{
    border: 1px solid #eeebe9;
}
.warranty table td, .warranty table th{
    border: 1px solid #eeebe9;
    padding-left: 15px;
}
.warranty table td{
    font-size: 15px;
    color: rgb(127,127,127);
    padding: 8px 0px 5px 17px;
}
.warranty table th{
    font-weight: bold;
    font-size: 14px;
    color: rgb(37,40,40);
    padding: 18px 0px 15px 11px;
}
.accept-btn, .decline-btn{
    border-radius: 3px;
    border: 1px solid #35b72f;
    color: #35b72f;
    padding: 5px 12px;
}
.accept-btn:focus, .decline-btn:focus{
    background-color: white;
}
.decline-btn{
    border-color: rgb(255,82,82);;
    color: rgb(255,82,82);
}
.accepted{
    color: #35b72f;
}
.declined{
    color: rgb(255,82,82);
}
.view-details{
    color: rgb(202,199,196);
    float: right;
    margin-right: 15px;
    border: none;
    background-color: transparent;
}
.view-details:focus{
    background-color: transparent;
}
.warranty{
    padding: 25px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(72,79,96,0.04);
}
.warranty .orange-row td{
    color: #ff9737;
}
.manual-select{
    display: block;
    width: 165px;
    height: 53px;
    font-size: 14px;
    color: #dddddd !important;
    -webkit-appearance: none;
    padding-left: 20px;
}


.file-upload {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 40px;
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-top: 35px;
}
.file-upload input[type="file"]{
    display: none;
}
.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.fila-upload-p{
    display: inline-block;
    margin-top: 0px;
    background: url("../img/img_upload.png") 5px 2px no-repeat;
    padding-left: 28px;
}
.fila-upload-p span{
    display: inline-block;
    vertical-align: top;
    line-height: 1.8;
}
.upload-img{
    width: 12px;
    margin-right: 5px;
}
.output-image{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin-left: 65px;
}
.output-pdf{
    vertical-align: top;
    margin-top: 37px;
}
.manual-input{
    display: block;
    width: 360px !important;
    height: 53px !important;
    border: 1px solid #ececee !important;
    border-radius: 3px !important;
    margin-bottom: 30px !important;
    padding-left: 20px !important;
    font-size: 14px !important;
    -webkit-appearance: none !important;
}
.manual-input:focus{
    border: 1px solid #26a69a !important;
    box-shadow: none !important;
}
.manual-select{
    width: 382px;
}
.manual-select:after {
    content: "\f0d7";
    display: block;
    position: absolute;
    font-family: FontAwesome;
    width: 10px;
    height: 10px;
    top: 19px;
    right: 15px;
    color: #dddddd;
}
.upload-img-block .file-upload{
    margin-top: 10px;
}

.warranty-btn {
    border-radius: 3px;
    background-color: #ff9737;
    font-size: 18px;
    color: #ffffff;
    border: none;
    padding: 10px 58px;
    font-size: 14px;
}
.upload-img-block{
    margin-bottom: 15px;
}
.pagination{
    margin-top: 25px;
}
.pagination li.active{
    background-color: #ff9737;
}